{%extends 'base.html.twig'%}
{% block title %}
    
       Restablecer Contrase単a
       
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {%for variable in app.session.flashbag.get('error')%}
            <p class="plazotareavencido">{{variable}}</p>
            
        {%endfor%}
        
        <h2>Restablecer Contrase単a</h2>
        
        <form method="POST" id="formulario" action="{{path('user_searchemail')}}"> 
            <label for="email" >Escribe el email relacionado con la contrase単a que quieres restablecer:</label><br>
            <input type="email" name="email" id="email" required=""><br><br>
            
            <input type="submit" value="Restablecer contrase単a"id="cambiarpassword">
        </form>    
       
    </div>
{% endblock %}
